:root {
    --green: #898C30;
    --black: #40392C;
    --orange: #F28E13;
    --brown: #BF7315;
    --yellow: #F2A71B;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--black);
    background-color: var(--orange)
}

#header {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 36px
    
    
}

nav {
    width: 50%;
    flex: initial;
    /* justify-items: right; */
    font-size: 28px;
    /* position: relative; */
    
}

nav li {
    display: inline;
    padding-left: 10px;
    /* justify-items: right; */
}

nav ul {
    flex: auto;
    justify-items: right;
}


#name {
    width: 150px;
    flex: 1 3 auto;
}

#backgroundimage {
    width: 100%;
    /* change height to vh? */
    height: 300px; 
    background-image: url(../images/flower.jpg);
    display: flex;
    flex-wrap: wrap;
}

#subtitle {
    width: 220px;
    margin-top: 160px;
    margin-left: 1000px;
    font-size: 20px;
    position: absolute;
    flex: 1 0 auto;
    
}

.sectionhead {
    font-size: 32px;
    width: 15%;
    border-right: solid;
    border-color: var(--black);
    /* flex: 1 0 auto; */
}

/* #workbox1 {
    background-image: url(../images/profilepicture.jpg);
    height: 500px;
    width: 500px;
    object-fit:contain;
    position:relative;
}

#workbox2 {
    background-image: url(../images/boat.jpg);
    height: 500px;
    width: 500px;
    object-fit:contain;
    position:relative;
} */

/* #workbox3 {
    background-image: url(../images/cliff.jpg);
    height: 500px;
    width: 500px;
    object-fit:cover;
    position:relative;
} */

/* #workbox4 {
    background-image: url(../images/igloo.jpg);
    height: 500px;
    width: 500px;
    object-fit:cover;
    position:relative;
} */

/* #workbox5 {
    background-image: url(../images/owl.jpg);
    height: 500px;
    width: 500px;
    object-fit:cover;
    position:relative;
} */

.sectioncontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-items: center;
    

}
.sectioncontent img {
    height:100vh;
    width: 100vh;
    object-fit: fill;
    position: relative;

}

#workbox1 img {
    height:200vh;
    width: 200vh;
    object-fit: fill;
    position: relative;
}

.workinfo {
    position: relative;
    margin-bottom: 100%;
    border-style: solid;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: row;
}
#contactme a {
    font-size: 28px;
}

#resume p {
    font-size: 28px;
}

footer {
    text-align: center;
}

.sectioncontent img:hover {
    opacity: .5;
    cursor: pointer;
    border-color: var(--brown);
}

nav li:hover {
    cursor: pointer;

}